head
	link(rel='stylesheet' href='/styles.css')		
	script(type='text/javascript' src='/jquery-3.1.1.js')
	script(type='text/javascript' src='/dev/scripts.js')
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
body
	.container
		button#back.round-button.blur
		.center
			form#dynamic
				.wrap
					.question
					.answer 
		.remaining