head
	link(rel='stylesheet' href='/styles.css')		
	script(type='text/javascript' src='/jquery-3.1.1.js')
	script(type='text/javascript' src='/dev/scripts.js')
body
	.center
		button#back back
		form#dynamic
			.question
			.answer